<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colorization Project</title>
</head>
<body>
    <h1>Welcome to the Image Colorizationsssss Project</h1>
    <p>This project takes a black and white image and generates a colorized version of it.</p>
    
    <!-- Adding an image to the main page -->
    <img src="best_black_and_white_photographs_08.jpg" alt="Colorization Example" style="max-width: 100%; height: auto;">

    <a href="/upload"><button>Proceed</button></a>
</body>
</html>
